{% with player=object %}

<html>
  <head>
    <title>Realm of {{ player.name }}</title>
    <style>
      table {
        border-collapse: separate;
        border-spacing: 0;
      }

      td, th {
        border-bottom: 1px black solid;
        border-right: 1px black solid;
        padding: 5px 15px 3px 15px;
      }

      td:first-child, th:first-child {
        border-left: 1px black solid;
      }

      tr:first-child td, tr:first-child th {
        border-top: 1px black solid;
      }
    </style>
  </head>
  <body>
    <h1>Player</h1>
    <table>
      <tr>
        <td>ID</td>
        <td>{{ player.id }}</td>
      </tr>
      <tr>
        <td>Name</td>
        <td>{{ player.name }}</td>
      </tr>
    </table>
    
    <h1>Assets</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Planet Count</th>
      </tr>
      {% for asset in player.assets.all %}
      <tr>
        <td>{{ asset.id }}</td>
        <td>{{ asset.name }}</td>
        <td>{{ asset.system.x }}:{{ asset.system.y }}</td>
        <td>{{ asset.planets.count }}</td>
      </tr>
      {% endfor %}
    </table>

    <h1>Technos</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent</th>
        <th>Feature</th>
      </tr>
      {% for techno in player.technos.all %}
      <tr>
        <td>{{ techno.id }}</td>
        <td>{{ techno.name }}</td>
        <td>
          {% if techno.parent %}
            {{ techno.parent.name }} #{{ techno.parent.id }}
          {% else %}
            &nbsp;
          {% endif %}
        </td>
        <td>
          <ul>
            {% for feature in techno.features %}
            <li>
              {{ feature.code }}
              {{ feature.name }}
              {{ feature.value }}
            </li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>

{% endwith %}
